@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

body {
    margin: 0;
}

#name {
    text-align: center;
}

.input-container {
    display: flex;
    justify-content: center;
}

.input-container input {
    width: 50%;
}

.input-container input, 
.input-container button {
    font-size: large;
    padding: 5px;
    margin: 10px;
}

#messages {
    margin: 20px;
    padding: 20px;
    font-size: large;
    font-family: "JetBrains Mono";
}

.left {
    float: left;
}

.right {
    float: right;
}

.left, .right {
    margin: 10px;
    clear: both;
    margin-left: 60px;
    text-align: justify;
}